@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url(../fontes/idroid.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    
    --fonte-padrão: arial, verdana, helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'idroid', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    font-family: var(--fonte-padrão);
    background-color: var(--cor0);
      
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;      
    }

header > h1 {
    color: white;
    font-family: var(--font-destaque);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header > p {
    color: white;
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto; 
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);   
}

nav {        
        padding: 10px;
        text-align: left;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
     }

nav > a {
        color:var(--cor1) ;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;       
        font-weight: bold;
        transition-duration: 0.5s;                   
    }

nav > a:hover {
        background-color: var(--cor3);
        color: var(--cor5);
        
    }
    
main {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        background-color: white;
        text-align: justify;
        margin: auto;
        margin-bottom: 30px;
        padding: 10px;               
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        min-width: 280px;
        max-width: 800px;
    }

main a {
        text-decoration: none;
        font-weight: bold;
        color: var(--cor5);
        padding: 2px 6px;
        background-color: var(--cor1);
    }

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
        width: 100%;
    }

main img.pequena {
        max-width: 350px;
        display: block;
        margin: auto;        
    }

main h1 {
        font-family: var(--font-android);
        color: var(--cor5);
        font-weight: normal;
        font-size: 1.8em;
    }
main h2 {
        font-family: var(--font-android);
        color: var(--cor4);
        font-weight: normal;
        font-size: 1.3em;
        background-image: linear-gradient(to right, var(--cor1), transparent)
    }

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px;
}

div.video {
    background-color: var(--cor5);    
    margin: 0px -10px 30px -10px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0' ;
    list-style-position: inside;
    columns: 2;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}
    
img {
        max-width: 100%;
        height: auto;
    }     

.video-box {
        background-color: rgb(2, 70, 30);
        padding: 20px;
        max-width: 100%;
        margin: 30px auto;
        text-align: center;
        box-shadow: 0 4px 12px rgb(0, 0, 0, 0.4);
        }   
 
strong {
        font-weight: bolder;
    }   

a {
        color: rgb(9, 207, 92);
        text-decoration: none;
    }
   

.centralizada {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }


footer {
        font-family: Arial, Helvetica, sans-serif;
         background-color: var(--cor5);
         color: white;
         text-align: center;
         font-size: 0.8em;
         padding: 4px;
         margin: 0px;
    }
footer p {
        margin: 0px;
    }